<!--form-box-->
<div class="form-box" id="form">
	<div class="box-inner-wrap">
		<form action="/" class="form-inner-wrap">
			<div class="form-wrap">
				<h2 class="h1-title title-large">У вас остались вопросы?</h2>
				<div class="frm-row">
					<div class="frm-field">
						<input type="text" class="form-input inp-second" placeholder="Имя" required>
					</div>
					<div class="frm-field">
						<input type="tel" class="form-input inp-second" placeholder="Телефон" required>
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field field-info">Нажимая на кнопку “Отправить” вы даете согласие на <a href="">Обработку персональных данных</a>.</div>
					<div class="frm-field field-submit">
						<button type="submit" class="btn button-border">Отправить</button>
					</div>
				</div>
			</div>
			<div class="form-message-wrap">
				<div class="elm-ico">
					<img src="./img/icons/succefull.svg" alt="">
				</div>
				<div class="h1-title title-large">Ваш запрос успешно отправлен!</div>
				<div class="h3-title">Наши специалисты свяжутся с вами в ближайшее время, для решения вопросов </div>
			</div>
		</form>
		<div class="photo-inner-wrap">
			<div class="elm-photo">
				<img src="./img/form-pic.svg" alt="">
			</div>
		</div>
	</div>
</div>
<!--/form-box-->