
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="actions-outer-wrap">
			<div class="actions-wrap">
				<div class="action-wrap">
					<a href="" class="btn button-second">
						<span class="button-ico">
							<img src="./img/icons/view.svg" alt="">
						</span>
						<span class="button-title">Версия для слабовидящих</span>
					</a>
				</div>
			</div>
			<div class="actions-wrap">
				<div class="action-wrap popup-search-wrap js-popup-wrap">
					<a href="" class="btn button-clear btn-popup js-btn-toggle">
						<span class="button-ico">
							<img src="./img/icons/search.svg" alt="">
						</span>
						<span class="button-title">Поиск</span>
					</a>
					<div class="popup-content-block js-popup-block">
						<a href="" class="btn-popup-close btn-action-ico ico-close js-btn-close"></a>
						<form action="/" class="frm-field-search">
							<input type="text" class="form-input" placeholder="Поиск">
						</form>
					</div>
				</div>
				<div class="action-wrap">
					<a href="" class="btn button-clear">
						<span class="button-ico">
							<img src="./img/icons/user.svg" alt="">
						</span>
						<span class="button-title">Личный кабинет</span>
					</a>
				</div>
			</div>
		</div>
		<div class="menu-wrap popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu js-btn-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<div class="menu-inner-wrap">
					<ul class="menu">
						<li><a href="" class="btn button-menu">Новости</a></li>
						<li><a href="" class="btn button-menu">Предметы</a></li>
						<li><a href="" class="btn button-menu active">Расписание олимпиад</a></li>
						<li><a href="" class="btn button-menu">Требования</a></li>
						<li><a href="" class="btn button-menu">Документы</a></li>
						<li><a href="" class="btn button-menu">Контакты</a></li>
					</ul>
				</div>
				<div class="actions-inner-wrap">
					<div class="action-wrap">
						<a href="" class="btn">
							<span class="button-ico">
								<img src="./img/icons/user.svg" alt="">
							</span>
							<span class="button-title">Личный кабинет</span>
						</a>
					</div>
					<div class="action-wrap">
						<a href="" class="btn button-second">
							<span class="button-ico">
								<img src="./img/icons/view.svg" alt="">
							</span>
							<span class="button-title">Версия для слабовидящих</span>
						</a>
					</div>
				</div>
				<div class="footer-inner-wrap">
					<div class="footer-phones-wrap">
						<div class="footer-title">Горячая линия</div>
						<div class="footer-phone">
							<a href="tel:84012592953">8 (4012) 59-29-53</a>
						</div>
						<div class="footer-phone">
							<a href="tel:84012592969">8 (4012) 59-29-69</a>
						</div>
					</div>
					<div class="footer-soc-wrap">
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-vk.svg" alt="">
						</a>
					</div>
					<div class="footer-info-wrap">
						<p>
							© 2022  Все права принадлежат “ВСОШ”
							<br>
							<a href="" class="link-main">Соглашение об обработке персональных данных</a>
						</p>
						<p><a href="">Политика конфиденциальности</a></p>
						<p>
							<a href="" class="footer-studio">
								<img src="./img/main/logo-studio.svg" alt="">
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->